In [1]:
#Q1.  Explain with an example each when to use a for loop and a while loop.

#while loop
n=int(input("enter the number  "))
fact=1
while n>0:
    fact=fact*n
    n=n-1
fact

enter the number   5

120

In [8]:
#for loop

for i in range(1,50):
    if i%2 == 0 :
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
#Q2.  Write a python program to print the sum and product of the first 10 natural numbers using for
#      and while loop.


#using for loop
sum =0
product= 1
for i in range(1,10):
    sum =sum+i
    product =product*i
    sum
    product

In [ ]:
# using while loop
n=1
sum=0
product=1
while n<=10:
    sum=sum+n
    product=product*n
    n=n+1
        print(sum,"  ",product)

In [ ]:
'''Q3. Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

You are required to take the units of electricity consumed in a month from the user as input.

Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.'''

In [31]:

    n=int(input("Enter the units consumed in one month--->"))
    if(n<=100):
          cost=n*4.5
    elif(n>100 and n<=100):
          cost=n*6
    elif(n>201 and n<=300):
          cost=n*10
    elif(n==310):
        cost=2250
    else:
          cost=n*20
print(cost)

Enter the units consumed in one month---> 310

2250

In [ ]:
Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [28]:
l=[]
l2=[]
for i in range(1,100):
    l.append(int((i*i*i)/4 or (i*i*i)/5))
l

[0,
 2,
 6,
 16,
 31,
 54,
 85,
 128,
 182,
 250,
 332,
 432,
 549,
 686,
 843,
 1024,
 1228,
 1458,
 1714,
 2000,
 2315,
 2662,
 3041,
 3456,
 3906,
 4394,
 4920,
 5488,
 6097,
 6750,
 7447,
 8192,
 8984,
 9826,
 10718,
 11664,
 12663,
 13718,
 14829,
 16000,
 17230,
 18522,
 19876,
 21296,
 22781,
 24334,
 25955,
 27648,
 29412,
 31250,
 33162,
 35152,
 37219,
 39366,
 41593,
 43904,
 46298,
 48778,
 51344,
 54000,
 56745,
 59582,
 62511,
 65536,
 68656,
 71874,
 75190,
 78608,
 82127,
 85750,
 89477,
 93312,
 97254,
 101306,
 105468,
 109744,
 114133,
 118638,
 123259,
 128000,
 132860,
 137842,
 142946,
 148176,
 153531,
 159014,
 164625,
 170368,
 176242,
 182250,
 188392,
 194672,
 201089,
 207646,
 214343,
 221184,
 228168,
 235298,
 242574]

In [32]:
#Q5. Write a program to filter count vowels in the below-given string.
#    string = "I want to become a data scientist"

In [39]:
count=0
string="I want to become a data scientist"
for i in string:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        count=count+1
print(count)

12